<div class="row">
  <div class="col-md-12">
    <div class="jumbotron">
      <h1>{{title}}: {{vehicle?.matricula}}</h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-2 col-sm-4 col-xs-12">
        <h4><small>Matrícula</small></h4>
      </div>
      <div class="col-md-10 col-sm-8 col-xs-12">
        <h4>{{vehicle?.matricula}}</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 col-sm-4 col-xs-12">
        <h4><small>Marca</small></h4>
      </div>
      <div class="col-md-10 col-sm-8 col-xs-12">
        <h4>{{vehicle?.marca}}</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 col-sm-4 col-xs-12">
        <h4><small>Modelo</small></h4>
      </div>
      <div class="col-md-10 col-sm-8 col-xs-12">
        <h4>{{vehicle?.modeloVeiculo}}</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 col-sm-4 col-xs-12">
        <h4><small>Cilindrada</small></h4>
      </div>
      <div class="col-md-10 col-sm-8 col-xs-12">
        <h4>{{vehicle?.cilindrada}}</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 col-sm-4 col-xs-12">
        <h4><small>Quilometros</small></h4>
      </div>
      <div class="col-md-10 col-sm-8 col-xs-12">
        <h4>{{vehicle?.quilometros}}</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 col-sm-4 col-xs-12">
        <h4><small>Combustível:</small></h4>
      </div>
      <div class="col-md-10 col-sm-8 col-xs-12">
        <h4>{{vehicle?.Combustivel}}</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 col-sm-4 col-xs-12">
        <h4><small>Medida dos Pneus da Frente</small></h4>
      </div>
      <div class="col-md-10 col-sm-8 col-xs-12">
        <h4>{{vehicle?.medpneusfrente}}</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 col-sm-4 col-xs-12">
        <h4><small>Medidas dos Pneus de Trás</small></h4>
      </div>
      <div class="col-md-10 col-sm-8 col-xs-12">
        <h4>{{vehicle?.medidaspneusatras}}</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 col-sm-4 col-xs-12">
        <h4><small>Ano</small></h4>
      </div>
      <div class="col-md-10 col-sm-8 col-xs-12">
        <h4>{{vehicle?.ano}}</h4>
      </div>
    </div>
  </div>
  </div>
