<div class="row">
  <div class="col-md-3 col-xs-12 col-sm-6 col-lg-3">
    <div class="thumbnail text-center photo_view_postion_b">
      <img src="assets/about.png" alt="stack photo" class="img">
    </div>
  </div>
  <div class="col-md-9 col-xs-12 col-sm-6 col-lg-9">
    <div class="" style="border-bottom:1px solid black">
      <h1>{{title}}</h1>
    </div>
    <br>
    <div class="col-md-12">
      <div class="row">
        <p>Este projeto foi elaborado no âmbito da cadeira de projeto final, do curso de Licenciatura de Engenharia Informática,
          lecionado na Escola Superior de Tecnologia de Tomar do Instituto Politécnico de Tomar, sobre orientação do Professor
          Paulo Santos.</p>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="row">
            <div class="col-sm-6 col-md-4">
              <img src="assets/rbarcelos.jpg" alt="" class="img-rounded img-responsive" />
            </div>
            <div class="col-sm-6 col-md-8">
              <h4>Rui Barcelos</h4>
              <small><cite title="Alpiarça, POR">Alpiarça<i class="glyphicon glyphicon-map-marker">
                    </i></cite></small>
              <i class="glyphicon glyphicon-envelope"></i><a href="mailto:aluno18834@ipt.pt">aluno18834@ipt.pt</a>
              <br />
              <i class="glyphicon glyphicon-globe"></i><a href="http://barcelospt.ddns.net">Página Pessoal</a>
              <br>
              <!-- Split button -->
              <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Social
                            <span class="caret"></span><span class="sr-only"></span>
                        </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="https://www.facebook.com/rui.barcelos">Facebook</a></li>
                  <li class="divider"></li>
                  <li><a href="https://github.com/barcelosrui">Github</a></li>
                </ul>
              </div>
              <br>
              <br>
              <p><i class="glyphicon glyphicon-globe"></i>WEB</p>
              <p><i class="fa fa-briefcase"></i>BACKOFFICE</p>
              <p><i class="fa fa-cog"></i>BACKEND</p>
              <p><i class="fa fa-database"></i>DATABASE</p>
            </div>
          </div>

        </div>
        <div class="col-md-4">
          <div class="row">
            <div class="col-sm-6 col-md-4">
              <img src="assets/pnunes.jpg" alt="" class="img-rounded img-responsive" />
            </div>
            <div class="col-sm-6 col-md-8">
              <h4>Pedro Nunes</h4>
              <small><cite title="Santarém, POR">Matas, Tremês, Santarém<i class="glyphicon glyphicon-map-marker">
                        </i></cite></small>
              <i class="glyphicon glyphicon-envelope"></i> <a href="mailto:estt16290@ipt.pt">estt16290@ipt.pt</a>
              <br />
              <i class="glyphicon glyphicon-globe"></i><a href="http://alumni.ipt.pt/~pjnunes">Alumni</a>
              <br>
              <!-- Split button -->
              <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Social
                                <span class="caret"></span><span class="sr-only"></span>
                            </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="https://www.facebook.com/Nunes.p89">Facebook</a></li>
                  <li class="divider"></li>
                  <li><a href="https://github.com/PNunesDev">Github</a></li>
                </ul>
              </div>
              <br>
              <br>
              <p><i class="glyphicon glyphicon-phone"></i>ANDROID</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <div class="col-sm-6 col-md-4">
              <img src="assets/jbandarra.jpg" alt="" class="img-rounded img-responsive" />
            </div>
            <div class="col-sm-6 col-md-8">
              <h4>João Bandarra</h4>
              <small><cite title="Abrantes, POR">Abrantes<i class="glyphicon glyphicon-map-marker">
                            </i></cite></small>
              <i class="glyphicon glyphicon-envelope"></i> <a href="mailto:aluno17806@ipt.pt">aluno17806@ipt.pt</a>
              <br />
              <i class="glyphicon glyphicon-globe"></i><a href="http://alumni.ipt.pt/~bandarra">Alumni</a>
              <!-- Split button -->
              <br>
              <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Social
                                    <span class="caret"></span><span class="sr-only">Social</span>
                                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="https://www.facebook.com/profile.php?id=100011369690703&ref=br_rs">Facebook</a></li>
                  <li class="divider"></li>
                  <li><a href="https://github.com/joaobandarra">Github</a></li>
                </ul>
              </div>
              <br>
              <br>
              <p><i class="glyphicon glyphicon-eye-open"></i>Análise de Requisitos</p>
            </div>
          </div>
        </div>
      </div>
      <div class="back container-fluid" style="padding-top:1%; padding-bottom:1%; min-height:100px">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-3">
                <img src="assets/backoffice.png" style="height:100px" class="img" alt="">
              </div>
              <div class="col-md-6">
                <h3>Faça já download do backoffice</h3>
                <p>Necessita de ter o java instalado</p>
              </div>
              <div class="col-md-3">
                <a href="https://www.dropbox.com/sh/099ty86z625gv2r/AABp94EHP5XVUk_uJ88YN537a?dl=0"><img src="assets/logodown.png" style="height:100px" class="img shadow"
                  alt=""></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>