.glyphicon, .fa {  margin-bottom: 10px;margin-right: 10px;}

small {
display: block;
line-height: 1.428571429;
color: #999;
}
.shadow:hover {-webkit-filter: drop-shadow(8px 8px 10px #888888);filter: drop-shadow(8px 8px 10px #888888);}