<div class="row">
  <div class="col-md-12">
    <div class="jumbotron">
      <h1>{{title}}</h1>
    </div>
  </div>
</div>
<div class="row"> 
  <div class="col-md-12">
    <p>
      Tem a certeza que quer cancelar a sua Marcação?
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
      <div class="form-group">
        <div class="col-md-4"></div>
        <div class="col-md-8">
          <button id="tfDisable" type="submit" (click)="disable()" class="btn btn-primary col-xs-12">Cancelar</button>
        </div>
      </div>
  </div>
  <div class="col-md-2">
  </div>
</div>