<div class="container-fluid back">
  <div class=" row">
    <div class="col-md-1 header" style="vertical-align: middle; text-align: center;">
      <img routerLink="/" routerLinkActive="active-link" src="../assets/logo.png" height="100px" alt="">
    </div>
    <div class="col-md-2">
      <h1 style="vertical-align: middle;">GestRepair</h1>
      <H4 style="vertical-align: middle;">Projeto Final</H4>
    </div>
    <div class="col-md-9">

    </div>
  </div>
</div>
<nav class="navbar navbar-inverse affix" data-spy="affix" data-offset-top="197" style="line-height:100px; background-color:rgba(0, 102, 255,0.7);">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
      aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
  </div>
  <div class="collapse navbar-collapse js-navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li><a routerLink="/" routerLinkActive="active-link">Home</a></li>
      <li><a routerLink="/about" routerLinkActive="active-link">Sobre nós</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Serviço<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li *ngFor=" let service of services"><a [routerLink]="['/service', service?.idService]">{{service?.nameService}}</a></li>
        </ul>
      </li>
      <li *ngIf="autenticated" class="dropdown dropdown-large">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Cliente<span class="caret"></span></a>
        <ul class="dropdown-menu dropdown-menu-large row">
          <li class="col-md-4">
            <ul>
              <li class="dropdown-header">Viaturas</li>
              <li><a routerLink="vehicle">Lista de Viaturas</a></li>
              <li><a routerLink="vehicle/verify">Registar Viatura</a></li>
            </ul>
          </li>
          <li class="col-md-4">
            <ul>
              <li class="dropdown-header">Marcações</li>
              <li><a routerLink="schedule/create">Agendar Serviço</a></li>
              <li><a routerLink="schedule">Ver Agendamentos</a></li>
            </ul>
          </li>
          <li class="col-md-4">
            <ul>
              <li class="dropdown-header">Reparações</li>
              <li><a routerLink="repair">Ver Reparações</a></li>
              <li class="dropdown-header">Orçamentos</li>
              <li><a routerLink="budget">Ver Orçamentos</a></li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right" *ngIf="!autenticated">
      <li><a data-toggle="modal" data-target="#myModal">Login</a></li>
      <li><a routerLink="user/create" routerLinkActive="active-link">Registar</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right" *ngIf="autenticated">
      <li class="dropdown dropdown-large ">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><strong>Bem-vindo </strong>{{name}}<span class="caret"></span></a>
        <ul class="dropdown-menu dropdown-menu-large row">
          <li class="col-md-6">
            <ul>
              <li class="dropdown-header">Perfil</li>
              <li><a routerLink="user/edit" routerLinkActive="active-link">Editar Utilizador </a></li>
              <li><a routerLink="user/info" routerLinkActive="active-link">Ver Perfil </a></li>
            </ul>
          </li>
          <li class="col-md-6">
            <ul>
              <li class="dropdown-header">Password</li>
              <li><a routerLink="user/changepass" routerLinkActive="active-link">Alterar Password </a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        <a id="btUserLogout" (click)="logout()"><span class="glyphicon glyphicon-user"></span> Logout </a>
      </li>
    </ul>
  </div>
</nav>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Autenticação</h4>
      </div>
      <div class="modal-body">
        <form class="form" role="form" class="navbar-form" method="post" action="login" accept-charset="UTF-8" id="login">
          <div class="row">
            <div class="form-group input-group col-md-12">
              <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
              <input type="text" class="form-control" id="tfLogUsername" placeholder="Username" [(ngModel)]="username" name="username"
                required>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="form-group input-group col-md-12">
              <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
              <input type="password" class="form-control" id="tfLogUserPass" placeholder="Password" [(ngModel)]="password" name="password"
                required>
            </div>
          </div>
          <br>
          <a routerLink="user/recovery" routerLinkActive="active">Esqueceu-se da Password?</a>
          <div class="row">
            <div *ngIf="loading">
              <div class="loading" style="width:50px; height:50px; padding-top:30px;">
                <div class="loading-bar"></div>
                <div class="loading-bar"></div>
                <div class="loading-bar"></div>
                <div class="loading-bar"></div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button (click)="login()" id="btUserLogin" [disabled]="loading" class="btn btn-success" data-dismiss="modal">Entrar</button>
      </div>
    </div>
  </div>
</div>