<div class="row">
  <div class="col-md-3 col-xs-12 col-sm-6 col-lg-3">
    <div class="thumbnail text-center photo_view_postion_b">
      <img src="assets/profile.png" alt="stack photo" class="img">
    </div>
  </div>
  <div class="col-md-9 col-xs-12 col-sm-6 col-lg-9">
    <div class="" style="border-bottom:1px solid black">
      <h1>{{title}} </h1>
    </div>
    <br>
    <div class="col-md-8">
      <form class="form-horizontal" #f="ngForm" (ngSubmit)="changePassword(f.value, f.valid)" novalidate>
        <div class="form-group">
          <label for="oldPassword" class="col-md-4 control-label">Antiga Password<small>(obrigatório)</small></label>
          <div class="col-md-8">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-lock" aria-hidden="true"></i></span>
              <input type="password" class="form-control" [(ngModel)]="f.oldPassword" #oldPassword="ngModel" name="oldPassword" id="tfSigninUserPass"
                placeholder="Introduz a password" reverse="true" required/>
              <div class="has-error" *ngIf="oldPassword.invalid && oldPassword.touched">
                <span *ngIf="oldPassword.invalid && oldPassword.touched" class="glyphicon form-control-feedback glyphicon-remove" aria-hidden="true"></span>
              </div>
              <div class="has-success" *ngIf="oldPassword.valid && oldPassword.touched">
                <span class="glyphicon form-control-feedback glyphicon-ok" aria-hidden="true"></span>
              </div>
            </div>
            <small class="text-danger" *ngIf="oldPassword.invalid && oldPassword.touched">
                              A introdução da antiga password é obrigatória.
              </small>
          </div>
        </div>
        <div class="form-group">
          <label for="newPassword" class="col-md-4 control-label">Password <small>(obrigatório)</small></label>
          <div class="col-md-8">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-lock" aria-hidden="true"></i></span>
              <input type="password" class="form-control" [(ngModel)]="f.newPassword" #newPassword="ngModel" name="newPassword" id="tfSigninUserPass"
                placeholder="Introduz a password" validateEqual="confirmpassword" reverse="true" required/>
              <div class="has-error" *ngIf="newPassword.invalid && newPassword.touched">
                <span *ngIf="newPassword.invalid && newPassword.touched" class="glyphicon form-control-feedback glyphicon-remove" aria-hidden="true"></span>
              </div>
              <div class="has-success" *ngIf="newPassword.valid && newPassword.touched">
                <span class="glyphicon form-control-feedback glyphicon-ok" aria-hidden="true"></span>
              </div>
            </div>
            <small class="text-danger" *ngIf="newPassword.invalid && newPassword.touched">
                              A introdução da password é obrigatória.
                          </small>
          </div>
        </div>
        <div class="form-group">
          <label for="confirmpassword" class="col-md-4 control-label">Confirmar Password <small>(obrigatório)</small></label>
          <div class="col-md-8">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-lock" aria-hidden="true"></i></span>
              <input type="password" class="form-control" #confirmpassword="ngModel" [(ngModel)]="f.confirmpassword" name="confirmpassword"
                id="tfSigninUserRepPass" placeholder="Introduz novamente a password" validateEqual="newpassword" reverse="false"
                required/>
              <div class="has-error" *ngIf="confirmpassword.invalid && confirmpassword.touched">
                <span *ngIf="confirmpassword.invalid && confirmpassword.touched" class="glyphicon form-control-feedback glyphicon-remove"
                  aria-hidden="true"></span>
              </div>
              <div class="has-success" *ngIf="confirmpassword.valid && confirmpassword.touched">
                <span class="glyphicon form-control-feedback glyphicon-ok" aria-hidden="true"></span>
              </div>
            </div>
            <small class="text-danger" *ngIf="confirmpassword.invalid && confirmpassword.touched">
                              A introdução da confirmação da password é obrigatória e as passwords devem corresponder.
                          </small>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <input type="submit" class="btn btn-primary" [disabled]="!f.form.valid" value="Alterar Password">
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-4">
    </div>
  </div>
</div>