<div class="row">
  <div class="col-md-3 col-xs-12 col-sm-6 col-lg-3">
    <div class="thumbnail text-center photo_view_postion_b">
      <img src="assets/profile.png" alt="stack photo" class="img">
    </div>
  </div>
  <div class="col-md-9 col-xs-12 col-sm-6 col-lg-9">
    <div class="" style="border-bottom:1px solid black">
      <h1>{{title}} </h1>
    </div>
    <br>
    <div class="col-md-8">
      <form class="form-horizontal" #f="ngForm" (ngSubmit)="changePassword(f.valid)" novalidate>
        <div class="form-group">
          <label for="oldPassword" class="col-md-4 control-label">Antiga Password<small>(obrigatório)</small></label>
          <div class="col-md-8">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-lock" aria-hidden="true"></i></span>
              <input type="password" class="form-control" [(ngModel)]="old" #oldPassword="ngModel" name="oldPassword" id="tfSigninUserPass"
                (ngModelChange)="verifequal($event)" placeholder="Introduz a password" required/>
              <div class="has-error" *ngIf="bold == false && on == 1">
                <span class="glyphicon form-control-feedback glyphicon-remove" aria-hidden="true"></span>
              </div>
              <div class="has-success" *ngIf="bold == true && on == 1">
                <span class="glyphicon form-control-feedback glyphicon-ok" aria-hidden="true"></span>
              </div>
            </div>
            <small class="text-danger" *ngIf="bold == false && on == 1">
                              Verifique se a password está correta
              </small>
          </div>
        </div>
        <div class="form-group">
          <label for="newPassword" class="col-md-4 control-label">Password <small>(obrigatório)</small></label>
          <div class="col-md-8">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-lock" aria-hidden="true"></i></span>
              <input type="password" class="form-control" [(ngModel)]="new" #newPassword="ngModel" name="newPassword" id="tfSigninUserPass"
                (ngModelChange)="verifypass($event)" placeholder="Introduz a password" pattern="^(?:(?=.*[a-z])(?:(?=.*[A-Z])(?=.*[\d\W])|(?=.*\W)(?=.*\d))|(?=.*\W)(?=.*[A-Z])(?=.*\d)).{8,}$"
                required/>
              <div class="has-error" *ngIf="newPassword.invalid && newPassword.touched">
                <span *ngIf="newPassword.invalid && newPassword.touched" class="glyphicon form-control-feedback glyphicon-remove" aria-hidden="true"></span>
              </div>
              <div class="has-success" *ngIf="newPassword.valid && newPassword.touched">
                <span class="glyphicon form-control-feedback glyphicon-ok" aria-hidden="true"></span>
              </div>
            </div>
            <small class="text-danger" *ngIf="newPassword.invalid && newPassword.touched">
              A password tem de conter pelo menos um caracter especial, número ou letra maiúscula e no mínimo 8 caracteres.
                          </small>
          </div>
        </div>
        <div class="form-group">
          <label for="confirmpassword" class="col-md-4 control-label">Confirmar Password <small>(obrigatório)</small></label>
          <div class="col-md-8">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-lock" aria-hidden="true"></i></span>
              <input type="password" class="form-control" [(ngModel)]="confirm" #confirmpassword="ngModel" name="confirmpassword" (ngModelChange)="verifypass($event)"
                id="tfSigninUserRepPass" placeholder="Introduza novamente a password"
                required/>
              <div class="has-error" *ngIf="verif == false && non == 1">
                <span class="glyphicon form-control-feedback glyphicon-remove"
                  aria-hidden="true"></span>
              </div>
              <div class="has-success" *ngIf="verif == true && non == 1">
                <span class="glyphicon form-control-feedback glyphicon-ok" aria-hidden="true"></span>
              </div>
            </div>
            <small class="text-danger" *ngIf="verif == false && non == 1">
              Verifique se os campos estão corretos.
            </small>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <input type="submit" class="btn btn-primary" [disabled]="!f.form.valid || verif == false" value="Alterar Password">
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-4">
    </div>
  </div>
</div>