<div class="row">
  <div class="col-md-3 col-xs-12 col-sm-6 col-lg-3">
    <div class="thumbnail text-center photo_view_postion_b">
      <img src="assets/profile.png" alt="stack photo" class="img">
    </div>
  </div>
  <div class="col-md-9 col-xs-12 col-sm-6 col-lg-9">
    <div class="" style="border-bottom:1px solid black">
      <h1>{{title}} </h1>
    </div>
    <br>
    <div class="col-md-8">
      <form class="form-horizontal" #f="ngForm" (ngSubmit)="editUser(f.value, f.valid)" novalidate>
        <div class="form-group">
          <label for="name" class="col-md-4 control-label">Nome Completo <small>(obrigatório)</small></label>
          <div class="col-md-8">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-user" aria-hidden="true"></i></span>
              <input type="text" class="form-control" [(ngModel)]="f.name" #name="ngModel" name="name" id="tfSigninUserName" placeholder="Introduz o teu nome"
                pattern="[A-zÀ-ÖØ-öø-ž ]+" required>
              <div class="has-error" *ngIf="name.invalid && name.touched">
                <span *ngIf="name.invalid && name.touched" class="glyphicon form-control-feedback glyphicon-remove" aria-hidden="true"></span>
              </div>
              <div class="has-success" *ngIf="name.valid && name.touched">
                <span class="glyphicon form-control-feedback glyphicon-ok" aria-hidden="true"></span>
              </div>
            </div>
            <small class="text-danger" *ngIf="name.invalid && name.touched">
                            A introdução do nome é obrigatória e deve conter só letras e espaços.
                        </small>
          </div>
        </div>
        <div class="form-group">
          <label for="street" class="col-md-4 control-label">Morada <small>(obrigatório)</small></label>
          <div class="col-md-8">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-user" aria-hidden="true"></i></span>
              <input type="text" class="form-control" [(ngModel)]="f.street" [value]="street" #street="ngModel" name="street" id="tfSigninUserstreet"
                placeholder="Insira a sua morada" pattern="[A-zÀ-ÖØ-öø-ž0-9 ]+" required>
              <div class="has-error" *ngIf="street.invalid && street.touched">
                <span *ngIf="street.invalid && street.touched" class="glyphicon form-control-feedback glyphicon-remove" aria-hidden="true"></span>
              </div>
              <div class="has-success" *ngIf="street.valid && street.touched">
                <span class="glyphicon form-control-feedback glyphicon-ok" aria-hidden="true"></span>
              </div>
            </div>
            <small class="text-danger" *ngIf="street.invalid && street.touched">
                            A introdução da morada é obrigatória e deve conter só letras números e espaços.
                        </small>
          </div>
        </div>
        <div class="form-group">
          <label for="zipcode" class="col-md-4 control-label">Código Postal <small>(obrigatório)</small></label>
          <div class="col-md-8">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-user" aria-hidden="true"></i></span>
              <input type="text" class="form-control" [(ngModel)]="f.zipcode" #zipcode="ngModel" name="zipcode" id="tfMorada" placeholder="Introduz o teu Código de Postal"
                pattern="\d{4}-\d{3}" required>
              <div class="has-error" *ngIf="zipcode.invalid && zipcode.touched">
                <span *ngIf="zipcode.invalid && zipcode.touched" class="glyphicon form-control-feedback glyphicon-remove" aria-hidden="true"></span>
              </div>
              <div class="has-success" *ngIf="zipcode.valid && zipcode.touched">
                <span class="glyphicon form-control-feedback glyphicon-ok" aria-hidden="true"></span>
              </div>
            </div>
            <small class="text-danger" *ngIf="zipcode.invalid && zipcode.touched">
                            A introdução do Código Postal é obrigatória e deve conter só letras e espaços.
                        </small>
          </div>
        </div>
        <div class="form-group">
          <label for="city" class="col-md-4 control-label">Localidade <small>(obrigatório)</small></label>
          <div class="col-md-8">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-user" aria-hidden="true"></i></span>
              <input type="text" class="form-control" [(ngModel)]="f.city" #city="ngModel" name="city" id="tfSigninUserName" placeholder="Introduz o teu nome"
                pattern="[A-zÀ-ÖØ-öø-ž ]+" required>
              <div class="has-error" *ngIf="city.invalid && city.touched">
                <span *ngIf="city.invalid && city.touched" class="glyphicon form-control-feedback glyphicon-remove" aria-hidden="true"></span>
              </div>
              <div class="has-success" *ngIf="city.valid && city.touched">
                <span class="glyphicon form-control-feedback glyphicon-ok" aria-hidden="true"></span>
              </div>
            </div>
            <small class="text-danger" *ngIf="city.invalid && city.touched">
                            A introdução da localidade é obrigatória e deve conter só letras e espaços.
                        </small>
          </div>
        </div>
        <div class="form-group">
          <label for="email" class="col-md-4 control-label">Email <small>(obrigatório)</small></label>
          <div class="col-md-8">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-user" aria-hidden="true"></i></span>
              <input type="email" class="form-control" [(ngModel)]="f.email" #email="ngModel" name="email" id="tfSigninUserEmail" placeholder="Introduz o teu email"
                email required/>
              <div class="has-error" *ngIf="email.invalid && email.touched">
                <span class="glyphicon form-control-feedback glyphicon-remove" aria-hidden="true"></span>
              </div>
              <div class="has-success" *ngIf="email.valid && email.touched">
                <span class="glyphicon form-control-feedback glyphicon-ok" aria-hidden="true"></span>
              </div>
            </div>
            <small class="text-danger" *ngIf="email.invalid && email.touched">
                            A introdução do email é obrigatória e deve ser um email válido.
                        </small>
          </div>
        </div>
        <div class="form-group">
          <label for="contact" class="col-md-4 control-label">Telemóvel <small>(opcional)</small></label>
          <div class="col-md-8">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-phone" aria-hidden="true"></i></span>
              <input type="text" class="form-control" #contact="ngModel" [(ngModel)]="f.contact" name="contact" id="tfSignUpUserPhone"
                placeholder="Introduz o teu número de telemóvel" pattern="[0-9]{9}" />
              <div class="has-error" *ngIf="contact.invalid && contact.touched">
                <span *ngIf="contact.invalid && contact.touched" class="glyphicon form-control-feedback glyphicon-remove" aria-hidden="true"></span>
              </div>
              <div class="has-success" *ngIf="contact.valid && contact.touched">
                <span class="glyphicon form-control-feedback glyphicon-ok" aria-hidden="true"></span>
              </div>
            </div>
            <small class="text-danger" *ngIf="contact.invalid && contact.touched">
                            O número de telemóvel deve ser um número válido.
                        </small>
          </div>
        </div>
        <div class="form-group">
          <label for="nif" class="col-md-4 control-label">NIF <small>(obrigatório)</small></label>
          <div class="col-md-8">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-phone" aria-hidden="true"></i></span>
              <input type="text" class="form-control" #nif="ngModel" [(ngModel)]="f.nif" name="nif" id="tfSigninUserNIF" placeholder="Introduz o teu número de telemóvel"
                pattern="[0-9]{9}" required/>
              <div class="has-error" *ngIf="nif.invalid && nif.touched">
                <span *ngIf="nif.invalid && nif.touched" class="glyphicon form-control-feedback glyphicon-remove" aria-hidden="true"></span>
              </div>
              <div class="has-success" *ngIf="nif.valid && nif.touched">
                <span class="glyphicon form-control-feedback glyphicon-ok" aria-hidden="true"></span>
              </div>
            </div>
            <small class="text-danger" *ngIf="nif.invalid && nif.touched">
              O NIF deve ser um número válido.
            </small>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-4"></div>
          <div class="col-md-8">
            <button id="tfSigninUserRegister" type="submit" class="btn btn-primary col-xs-12" [disabled]="!f.form.valid">Registar</button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-4">
    </div>
  </div>
</div>