<div class="row">
  <div class="col-md-3 col-xs-12 col-sm-6 col-lg-3">
    <div class="thumbnail text-center photo_view_postion_b">
      <img src="assets/car.png" alt="stack photo" class="img">
    </div>
  </div>
  <div class="col-md-9 col-xs-12 col-sm-6 col-lg-9">
    <div class="" style="border-bottom:1px solid black">
      <h1>{{title}}</h1>
    </div>
    <br>
    <div class="col-md-12">
      <h1>A viatura {{regis}} já se encontra no sistema</h1>
      <p>Deseja adiciona-lo à sua conta</p>
      <button class="btn btn-warning" (click)="add()">Adicionar</button>
    </div>
  </div>
</div>