<div class="row">
  <div class="col-md-3 col-xs-12 col-sm-6 col-lg-3">
    <div class="thumbnail text-center photo_view_postion_b">
      <img src="assets/car.png" alt="stack photo" class="img">
    </div>
  </div>
  <div class="col-md-9 col-xs-12 col-sm-6 col-lg-9">
    <div class="" style="border-bottom:1px solid black">
      <h1>{{title}} - {{vehicle?.nameBrand}} {{vehicle?.nameModel}} {{vehicle?.registration}}</h1>
    </div>
    <br>
    <div class="col-md-6">
      <ul class=" details">
        <li>
          <p><span class="glyphicon glyphicon-list-alt one" style="width:50px;"></span>{{vehicle?.registration}}</p>
        </li>
        <li>
          <p><span class="glyphicon glyphicon-cog one" style="width:50px;"></span>{{vehicle?.displacement}} CC</p>
        </li>
        <li>
          <p><span class="glyphicon glyphicon-dashboard one" style="width:50px;"></span>{{vehicle?.kilometers}} KM</p>
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <div class="col-sm-6 col-xs-6 tital ">Combustível:</div>
      <div class="col-sm-6 col-xs-6 ">{{vehicle?.nameFuel}}</div>
      <div class="clearfix"></div>
      <div class="bot-border"></div>
      <div class="col-sm-6 col-xs-6 tital ">Data de Registo:</div>
      <div class="col-sm-6 col-xs-6 ">{{vehicle?.date | date:'dd-MM-y' }}</div>
      <div class="clearfix"></div>
      <div class="bot-border"></div>
      <div class="col-sm-6 col-xs-6 tital ">Medida dos pneus frontal:</div>
      <div class="col-sm-6 col-xs-6 ">{{vehicle?.fronttiresize}}</div>
      <div class="clearfix"></div>
      <div class="bot-border"></div>
      <div class="col-sm-6 col-xs-6 tital ">Medida dos pneus traseiros:</div>
      <div class="col-sm-6 col-xs-6 ">{{vehicle?.reartiresize}}</div>
      <div class="clearfix"></div>
      <div class="bot-border"></div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-10"></div>
  <div class="col-md-2">
    <button class="btn btn-info" routerLink="/vehicle">Voltar</button>
  </div>
</div>