<div class="jumbotron">
  <div class=" row">
    <div class="col-md-12">
      <h1 style="text-align: center">{{title}}</h1>
    </div>
  </div>
</div>
<div class="row">
  <div class='col-md-12'>
    <div class="form-group">
      <label for="comment">Data:</label>
      <div class='input-group date' id='datetimepicker6'>
        <input type='text' class="form-control" />
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
    </div>
  </div>
</div>