<div class="row">
    <div class="col-md-3 col-xs-12 col-sm-6 col-lg-3">
        <div class="thumbnail text-center photo_view_postion_b">
            <img src="assets/schedule.png" alt="stack photo" class="img">
        </div>
    </div>
    <div class="col-md-9 col-xs-12 col-sm-6 col-lg-9">
        <div class="" style="border-bottom:1px solid black">
            <h1>{{title}}</h1>
        </div>
        <br>
        <div class="col-md-12">
            <form class="form-horizontal" #f="ngForm" (ngSubmit)="create(f.value, f.valid)" novalidate>
                <div class="row">
                    <div class='col-md-4'>
                        <div class="form-group">
                            <label for="comment">Veiculo:</label>
                            <div class='input-group'>
                                <select class="form-control" id="sel1" class="form-control" [(ngModel)]="f.vehicle" #date="ngModel" name="vehicle">
                <option *ngFor="let vehicle of vehicles"  value="{{vehicle?.idVehicle}}" >{{vehicle?.registration}}</option>
              </select>
                                <span class="input-group-addon">
          <span class="glyphicon glyphicon-service"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class='col-md-4'>
                        <div class="form-group">
                            <label for="comment">Serviço:</label>
                            <div class='input-group'>
                                <select class="form-control" id="sel2" class="form-control" [(ngModel)]="f.service" #date="ngModel" name="service">
          <option *ngFor="let service of services" value="{{service.idService}}" >{{service?.nameService}}</option>
        </select>
                                <span class="input-group-addon">
          <span class="glyphicon glyphicon-service"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class='col-md-2'>
                        <div class="form-group">
                            <label for="comment">Ano:</label>
                            <div class='input-group'>
                                <select class="form-control" [ngModel]="date" #date="ngModel" name="year" (ngModelChange)="month($event)"> 
                                <option [value]="y" *ngFor="let y of ys">{{y}}</option> 
                            </select>
                                <span class="input-group-addon">
                                <span class="glyphicon glyphicon-service"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class='col-md-2'>
                        <div class="form-group">
                            <label for="comment">Mês:</label>
                            <div class='input-group'>
                                <select class="form-control" [ngModel]="date" #date="ngModel" name="month" (ngModelChange)="day($event)"> 
                                <option [value]="m" *ngFor="let m of ms">{{m}}</option>
                            </select>
                                <span class="input-group-addon">
                                <span class="glyphicon glyphicon-service"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class='col-md-2'>
                        <div class="form-group">
                            <label for="comment">Dia:</label>
                            <div class='input-group'>
                                <select class="form-control" [ngModel]="date" #date="ngModel" name="day" (ngModelChange)="hour($event)"> 
                                <option [value]="d" *ngFor="let d of ds">{{d}}</option>
                            </select>
                                <span class="input-group-addon">
                                <span class="glyphicon glyphicon-service"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class='col-md-2'>
                        <div class="form-group">
                            <label for="comment">Hora:</label>
                            <div class='input-group'>
                                <select class="form-control" [ngModel]="date" #date="ngModel" name="hour" (ngModelChange)="obth($event)"> 
                            <option [value]="h" *ngFor="let h of hs">{{h}}</option>
                        </select>
                                <span class="input-group-addon">
                            <span class="glyphicon glyphicon-service"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary" value="Marcar" [disabled]="!f.form.valid">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>