<div class="row">
    <div class="col-md-3 col-xs-12 col-sm-6 col-lg-3">
        <div class="thumbnail text-center photo_view_postion_b">
            <img src="assets/profile.png" alt="stack photo" class="img">
        </div>
    </div>
    <div class="col-md-9 col-xs-12 col-sm-6 col-lg-9">
        <div class="" style="border-bottom:1px solid black">
            <h1>{{title}} </h1>
        </div>
        <br>
        <div class="col-md-8">
            <blockquote>
                <p>{{user?.name}}</p> <small><cite title="Source Title">{{user?.street}}, {{user?.zipcode}} {{user?.city}} <i class="glyphicon glyphicon-map-marker"></i></cite></small>
            </blockquote>
            <ul class=" details">
                <li>
                    <p><span class="glyphicon glyphicon-earphone one" style="width:50px;"></span>{{user?.contact}}</p>
                </li>
                <li>
                    <p><span class="glyphicon glyphicon-envelope one" style="width:50px;"></span>{{user?.email}}</p>
                </li>
                <li>
                        <p><b><span class="glyphicon glyphicon-check one"></span> NIF: </b> {{user?.nif}}</p>
                    </li>
            </ul>
        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>