<div class="row">
    <div class="col-md-12">
        <div class="jumbotron">
            <h1>{{title}}</h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-10">
                        Perfil
                    </div>

                </div>
            </div>
            <!-- Profile -->
            <div class="panel-body">
                <div class="row">
                    <!--<div class="col-md-3">
                <img class="img-rounded" src="http://localhost:8080/photo/{{student?.id}}" style="width:100%; max-width: 270px; min-width: 150px;" alt="Image">
            </div>-->
                    <div class="col-md-9">
                        <div class="row">
                            <!-- NAME -->
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <h4><small>Nome</small></h4>
                            </div>
                            <div class="col-md-10 col-sm-8 col-xs-12">
                                <h4>{{user?.name}}</h4>
                            </div>
                        </div>
                        <div class="row">
                            <!-- EMAIL -->
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <h4><small>Email</small></h4>
                            </div>
                            <div class="col-md-10 col-sm-8 col-xs-12">
                                <h4>{{user?.email}}</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <h4><small>Morada</small></h4>
                            </div>
                            <div class="col-md-10 col-sm-8 col-xs-12">
                                <h4>{{user?.street}}</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <h4><small>Código Postal</small></h4>
                            </div>
                            <div class="col-md-10 col-sm-8 col-xs-12">
                                <h4>{{user?.zipcode}}</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <h4><small>Localidade</small></h4>
                            </div>
                            <div class="col-md-10 col-sm-8 col-xs-12">
                                <h4>{{user?.city}}</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <h4><small>Contacto:</small></h4>
                            </div>
                            <div class="col-md-10 col-sm-8 col-xs-12">
                                <h4>{{user?.contact}}</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <h4><small>NIF</small></h4>
                            </div>
                            <div class="col-md-10 col-sm-8 col-xs-12">
                                <h4>{{user?.nif}}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Profile -->
    </div>
</div>
<div class="row">
    <div class="col-md-8"></div>
    <div class="col-md-2">
        <button id="btUserProfEdit" class="btn btn-default pull-right" type="submit" routerLink="/user/edit" routerLinkActive="active-link">Alterar Perfil</button>
    </div>
    <div class="col-md-2">
        <button class="btn btn-info" routerLink="/">Voltar</button>
    </div>
</div>