<navbar></navbar>
<div id="notif" class="not"></div>
<div class="back container-fluid">
  <router-outlet></router-outlet>
</div>
<div class="container-fluid back" style="padding-top:1%; padding-bottom:1%; min-height:100px">
  <div class="row">
    <div class="col-md-1">
      <img src="assets/logogit.png" style="height:65px" class="img" alt="">
    </div>
    <div class="col-md-1">
      <img src="assets/logoAngular.png" style="height:65px" class="img" alt="">
    </div>
    <div class="col-md-1">
      <img src="assets/logonodejs.png" style="height:65px" class="img" alt="">
    </div>
    <div class="col-md-1">
      <img src="assets/logojava.png" style="height:65px" class="img" alt="">
    </div>
    <div class="col-md-1">
      <img src="assets/logomysql.png" style="height:65px" class="img" alt="">
    </div>
    <div class="col-md-1">
      <img src="assets/logoandroid.png" style="height:65px" class="img" alt="">
    </div>
    <div class="col-md-1">
      <img src="assets/logots.png" style="height:65px" class="img" alt="">
    </div>
    <div class="col-md-1">
      <img src="assets/logovscode.png" style="height:65px" class="img" alt="">
    </div>
    <div class="col-md-1">
      <img src="assets/logoas.png" style="height:65px" class="img" alt="">
    </div>
    <div class="col-md-1">
      <img src="assets/logoatom.png" style="height:65px" class="img" alt="">
    </div>
    <div class="col-md-1">
      <img src="assets/logobootstrap.png" style="height:65px" class="img" alt="">
    </div>
    <div class="col-md-1">
      <img src="assets/logosmartgit.png" style="height:65px" class="img" alt="">
    </div>
  </div>
</div>
<a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button" data-toggle="tooltip" data-placement="left"><span class="glyphicon glyphicon-chevron-up"></span></a>