<div class="row">
  <div class="col-md-12">
    <div class="jumbotron">
      <h1>{{title}}</h1>
    </div>
  </div>
</div>
<div class="row">
    <div class="col-md-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Matrícula</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Quilometros</th>
            <th>Combustível</th>
            <th>Cilindrada</th>
            <th>Data</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let vehicle of vehicles">
            <td>{{vehicle?.registration}}</td>
            <td>{{vehicle?.nameBrand}}</td>
            <td>{{vehicle?.nameModel}}</td>
            <td>{{vehicle?.kilometers}}</td>
            <td>{{vehicle?.nameFuel}}</td>
            <td>{{vehicle?.displacement}}</td>
            <td>{{vehicle?.date}}</td>
            <td><button class="btn btn-primary" [routerLink]="['/vehicle', vehicle?.idVehicle]">Info</button></td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
