<div class="row">
  <div class="col-md-3 col-xs-12 col-sm-6 col-lg-3">
    <div class="thumbnail text-center photo_view_postion_b">
      <img src="assets/car.png" alt="stack photo" class="img">
    </div>
  </div>
  <div class="col-md-9 col-xs-12 col-sm-6 col-lg-9">
    <div class="" style="border-bottom:1px solid black">
      <h1>{{title}}</h1>
    </div>
    <br>
    <div class="col-md-12">
      <h3>Dados da ultíma visita</h3>
      <div class="panel-group" id="accordion">
        <div class="panel panel-default" *ngFor="let vehicle of vehicles">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#c{{vehicle?.idVehicle}}">{{vehicle?.nameBrand}} {{vehicle?.nameModel}} - {{vehicle?.registration}}</a>
            </h4>
          </div>
          <div id="c{{vehicle?.idVehicle}}" data-parent="#accordion"  class="panel-collapse collapse">
            <div class="panel-body">
              <br>
              <div class="col-md-5">
                <ul class=" details">
                  <li>
                    <p><span class="glyphicon glyphicon-list-alt one" style="width:50px;"></span>Matrícula: {{vehicle?.registration}}</p>
                  </li>
                  <li *ngIf="vehicle?.displacement != null">
                    <p><span class="glyphicon glyphicon-cog one" style="width:50px;"></span>Cilindrada: {{vehicle?.displacement}} CC</p>
                  </li>
                  <li *ngIf="vehicle?.kilometers != null">
                    <p><span class="glyphicon glyphicon-dashboard one" style="width:50px;"></span>Quilometros: {{vehicle?.kilometers}} KM</p>
                  </li>
                </ul>
              </div>
              <div class="col-md-6">
                <div class="col-sm-6 col-xs-6 tital ">Combustível:</div>
                <div class="col-sm-6 col-xs-5 ">{{vehicle?.nameFuel}}</div>
                <div class="clearfix"></div>
                <div class="bot-border"></div>
                <div class="col-sm-6 col-xs-6 tital ">Data de Registo:</div>
                <div class="col-sm-6 col-xs-5 ">{{vehicle?.date | date:'dd-MM-y' }}</div>
                <div class="clearfix"></div>
                <div class="bot-border"></div>
                <div class="col-sm-6 col-xs-6 tital" *ngIf="vehicle?.fronttiresize != null">Medida dos pneus frontal:</div>
                <div class="col-sm-6 col-xs-6" *ngIf="vehicle?.fronttiresize != null">{{vehicle?.fronttiresize}}</div>
                <div class="clearfix"></div>
                <div class="bot-border"></div>
                <div class="col-sm-6 col-xs-6 tital" *ngIf="vehicle?.reartiresize != null">Medida dos pneus traseiros:</div>
                <div class="col-sm-6 col-xs-6" *ngIf="vehicle?.reartiresize != null">{{vehicle?.reartiresize}}</div>
                <div class="clearfix"></div>
                <div class="bot-border"></div>
                <br>
                <div class="col-sm-6 col-xs-6 tital "></div>
                <div class="col-sm-6 col-xs-6 "><button class="btn btn-default" [routerLink]="['/vehicle/disable',vehicle?.idVehicle]">Retirar Viatura</button></div>
                <div class="clearfix"></div>
                <div class="bot-border"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>