<div class="row">
  <div class="col-md-3 col-xs-12 col-sm-6 col-lg-3">
    <div class="thumbnail text-center photo_view_postion_b">
      <img src="assets/car.png" alt="stack photo" class="img">
    </div>
  </div>
  <div class="col-md-9 col-xs-12 col-sm-6 col-lg-9">
    <div class="" style="border-bottom:1px solid black">
      <h1>{{title}} - {{regis}}</h1>
    </div>
    <br>
    <div class="col-md-12">
      <form class="form-horizontal" #f="ngForm" (ngSubmit)="create(f.value, f.valid)" novalidate>
        <div class="form-group">
          <label for="brand" class="col-md-4 control-label">Marca</label>
          <div class="col-md-8">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-car" aria-hidden="true"></i></span>
              <select class="form-control" [ngModel]="brand" #brand="ngModel" name="brand" (ngModelChange)="listModel($event)" required>
                      <option *ngFor="let brand of brands" [value]="brand.idBrand"  >{{brand.nameBrand}}</option>
                    </select>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="model" class="col-md-4 control-label">Modelo</label>
          <div class="col-md-8">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-taxi" aria-hidden="true"></i></span>
              <select class="form-control" [ngModel]="model" #model="ngModel" name="model" (ngModelChange)="modelsel()">
                      <option *ngFor="let model of models" [value]="model.idModel">{{model.nameModel}}</option>
                    </select>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="fuel" class="col-md-4 control-label">Combustivel</label>
          <div class="col-md-8">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-battery-full" aria-hidden="true"></i></span>
              <select class="form-control" [ngModel]="fuel" #fuel="ngModel" name="fuel" (ngModelChange)="fuelsel()">
                      <option *ngFor="let fuel of fuels" [value]="fuel.idFuel">{{fuel.nameFuel}}</option>
                    </select>
            </div>
          </div>
        </div>
        <label for="date" class="col-md-4 control-label">Data</label>
        <div class="form-group col-md-8">
          <div class="col-md-4">
            <select class="form-control" [ngModel]="date" #date="ngModel" name="year" (ngModelChange)="month($event)"> 
                    <option [value]="y" *ngFor="let y of ys">{{y}}</option> 
                </select>
          </div>
          <div class="col-md-4">
            <select class="form-control col-md-3" [ngModel]="date" #date="ngModel" name="month" (ngModelChange)="day($event)"> 
                    <option [value]="m" *ngFor="let m of ms">{{m}}</option>
                </select>
          </div>
          <div class="col-md-4">
            <select class="form-control col-md-3" [ngModel]="date" #date="ngModel" name="day" (ngModelChange)="dateday($event)"> 
                    <option [value]="d" *ngFor="let d of ds">{{d}}</option>
                </select>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-8">
            <div class="form-group">
              <button id="tfSignUpVehicleRegister" class="btn btn-default" [disabled]="(bbrand == false|| bfuel == false || bmodel == false || byear == false || bmouth == false || bday == false)">Adicionar</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>