<div class="row">
    <div class="col-md-12">
        <div class="jumbotron">
            <h1>{{title}} {{budget?.idBudget}}</h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-4">
                <h4><small>Serviço</small></h4>
            </div>
            <div class="col-md-8">
                <h4>{{budget?.service}}</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h4><small>Veiculo</small></h4>
            </div>
            <div class="col-md-8">
                <h4>{{budget?.vehicle}}</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h4><small>Descrição</small></h4>
            </div>
            <div class="col-md-8">
                <h4>{{budget?.description}}</h4>
            </div>
        </div>
        <div class="row" *ngIf="budget?.price != null">
            <div class="col-md-4">
                <h4><small>Preço</small></h4>
            </div>
            <div class="col-md-8">
                <h4>{{budget?.price}} €</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h4><small>Estado</small></h4>
            </div>
            <div class="col-md-8">
                <h4>{{budget?.state}}</h4>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-4">
                <h4><small>Data de Início</small></h4>
            </div>
            <div class="col-md-8">
                <h4>{{budget?.processOpen | date : "dd/MM/yyyy - HH:mm" }}</h4>
            </div>
        </div>
        <div class="row" *ngIf="budget?.processClose != null">
            <div class="col-md-4">
                <h4><small>Data de Fim</small></h4>
            </div>
            <div class="col-md-8">
                <h4>{{budget?.processClose | date : "dd/MM/yyyy - HH:mm" }}</h4>
            </div>
        </div>
        <div class="row" *ngIf="repair?.repairTime != null">
            <div class="col-md-4">
                <h4><small>Tempo de Reparação</small></h4>
            </div>
            <div class="col-md-8">
                <h4>{{budget?.repairTime}}</h4>
            </div>
        </div>
        <div class="row" *ngIf="budget?.resolution != null">
            <div class="col-md-4">
                <h4><small>Resolução:</small></h4>
            </div>
            <div class="col-md-8">
                <h4>{{budget?.resolution}}</h4>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-10"></div>
    <div class="col-md-2">
        <button class="btn btn-info" routerLink="/budget">Voltar</button>
    </div>
</div>