<div class="row">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol *ngFor="let service of services" class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" *ngFor="let service of services" [attr.data-slide-to]="service?.idService"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <div class="row">
          <div class="col-md-4" style="height:400px">
            <img src="../assets/gest.jpg" class="img-responsive" style="height:400px" alt="Los Angeles">
          </div>
          <div class="col-md-8" style="padding: 0 10% 0 10%;">
            <div class="row">
              <h1>Bem Vindo à GestRepair</h1>
              <h2>Plataforma de Gestão de Oficinas</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="item" *ngFor="let service of services">
        <div class="row">
          <div class="col-md-4" style="height:400px">
            <img src="{{photo}}{{service?.idService}}" class="img-responsive" style="height:400px" alt="Chicago">
          </div>
          <div class="col-md-8" style="padding: 0 10% 0 10%;">
            <div class="row">
              <h1>{{service?.nameService}}</h1>
              <h2>Desde {{service?.priceService}}€</h2>
            </div>
          </div>
        </div>
      </div>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
    </div>
  </div>
</div>
