<div class="jumbotron">
  <div class=" row">
    <div class="col-md-2">
    </div>
    <div class="col-md-2">
      <img src="../assets/logo.png" width="80%" alt="">
    </div>
    <div class="col-md-4">
      <h1 style="text-align: center">{{title}}</h1>
    </div>
    <div class="col-md-4">
      <img src="../assets/google-play-badge.png" width="100%" alt="">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <img src="../assets/gest.jpg" alt="">
  </div>
  <div class="col-md-4">
    <h3>Serviços</h3>
  </div>
</div>
